{% macro showMessage(title, subtitle ,bar_text) %}
<div class="body box home">
	<div class="content">
		<div class="header">
			<div class="content">
				<h1>{{title|default('test)}}</h1>
				<div class="subtitle">
					{{subtitle|default('test')}} 
				</div>
			</div>
			<div class="bottom_bar">
				{{bar_text|default('')}} 
			</div>
		</div>
	</div>
</div>
{% endmacro %}


<div class="body box home">
	<div class="content">
		<div class="header">
			<div class="content">
				<h1>{% block body_header %}{{title|default('test')}}{% endblock body_header %}</h1>
				<div class="subtitle">
					{% block body_content %}{{subtitle|default('test')}}{% endblock body_content %}
				</div>
			</div>
			<div class="bottom_bar">
				{{bar_text|default('')}} 
			</div>
		</div>
	</div>
</div>